<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>PYTHON WORLD</title>
	{% load staticfiles %}
	<script src="{% static "csrf.js" %}"></script>
    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="{% static "css/custom.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-globe"></span> Logo</a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Python</a>
                    </li>
                    <li>
                        <a href="#">Django</a>
                    </li>
                    <li>
                        <a href="#">Flask</a>
                    </li>
                    <li>
                        <a href="#">Other</a>
                    </li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Others <span class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="about-us">
							<li><a href="#">--one--</a></li>
							<li><a href="#">--two--</a></li>
							<li><a href="#">--three--</a></li>
						</ul>
					</li>    
                </ul>

				<!-- Search -->
				<form class="navbar-form navbar-right" role="search">
					<div class="form-group">
						<input type="text" class="form-control">
					</div>
					<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
				</form>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<div class="container-fluid">

		<!-- Left Column -->
		<div class="col-sm-3">

			<!-- List-Group Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-fire"></span> 阅读排行 </h1>
				</div>
				<div class="list-group">
					<a href="#" class="list-group-item">MySQL －增删改查 </a>
					<a href="#" class="list-group-item">virtualenv 的使用</a>
					<a href="#" class="list-group-item">反射的应用</a>
					<a href="#" class="list-group-item">金典类和新式类的区别</a>
					<a href="#" class="list-group-item">异常处理</a>
				</div>
			</div>

			<!-- Text Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> 最新评论</h1>
				</div>

				<div class="panel-body">
					<p>你好!这是最新评论 1-*-</p>
				</div>
                <div class="panel-body">
					<p>你好!这是最新评论 2-*-</p>
				</div>
                <div class="panel-body">
					<p>你好!这是最新评论 3-*-</p>
				</div>
			</div>

			<!-- Text Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-bullhorn"></span>
						通知|公告
					</h3>
				</div>
				<div class="panel-body">
					<p> 这里是通知公告 </p>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default">定义一</button>
						<button type="button" class="btn btn-default">定义二</button>
						<button type="button" class="btn btn-default">定义三</button>
					</div>
				</div>
			</div>
				
		</div><!--/Left Column-->
  
  
		<!-- Center Column -->
		<div class="col-sm-6">		
			<!-- Articles -->
			{% for article in latest_article_list %}
			<div class="row">
				<article class="col-xs-12">
					<h2><a id="article_title", href="/focus/{{ article.id }}">{{ article.title }}</a></h2>
					<p>{{ article.content|truncatechars_html:80 | safe }}</p>
				<!-- 	<p><button class="btn btn-default">Read More</button></p>  -->
					<p class="pull-right"><span class="label label-default">{{ article.column }}</span> <span class="label label-default">tag</span> <span class="label label-default">{{ article.author }}</span></p>
					<ul class="list-inline">
						<li><a href="#">{{ article.pub_date | date:"j M" }}</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-comment"></span> {{ article.comment_num }} Comments</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-star-empty"></span>{{ article.keep_num }} Favorites</a></li>
					</ul>
				</article>
			</div>			
			<hr>
			{% endfor %}

		</div><!--/Center Column-->


	  <!-- Right Column -->
	  <div class="col-sm-3">
			{% if request.user.is_authenticated %}
			<!-- Form --> 
			<div class="panel panel-default">				
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-user"></span> 
						Logged In
					</h3>
				</div>
				<div class="panel-body">					
					<div class="form-group">hi:{{ user }} <a href="/focus/logout/"><input class="btn btn-default" type="submit" value="Logout" /></a></div>
				</div>
			</div>
			{% else %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-log-in"></span> 
						Log In
					</h3>
				</div>
				<div class="panel-body">	
					<form action="/focus/login/" method="post">
						{% csrf_token %}
						{{ loginform.non_field_errors }}
						<div class="form-group">
							{{ loginform.uid }}
						<!--	<input type="text" class="form-control" id="uid" name="uid" placeholder="Username">  -->
						</div>
						<div class="form-group">
							{{ loginform.pwd }}
						<!--	<input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password">  -->
						</div>
						<button type="submit" class="btn btn-default">Log In</button>
					</form>				
				</div>
			</div>
 			{% endif %}
			<!-- Progress Bars -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-tasks"></span> 
						Completeness
					</h3>
				</div>
				<div class="panel-body">
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
						aria-valuemin="0" aria-valuemax="100" style="width:100%">
							100% Django
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80"
						aria-valuemin="0" aria-valuemax="100" style="width:80%">
							80% Python
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45"
						aria-valuemin="0" aria-valuemax="100" style="width:45%">
							45% Linux
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="35"
						aria-valuemin="0" aria-valuemax="100" style="width:35%">
							35% Flask

						</div>
					</div>
				</div>
			</div>

			  </div>

	  </div><!--/Right Column -->

	</div><!--/container-fluid-->
	
	<footer>
		<div class="footer-blurb">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 footer-blurb-item">
						<h3><span class="glyphicon glyphicon-text-size"></span> 底部-1</h3>
						<p>略:待补充</p>
						<p><a class="btn btn-default" href="#">底部-1</a></p>
					</div>
					<div class="col-sm-3 footer-blurb-item">
						<h3><span class="glyphicon glyphicon-wrench"></span> 底部-2</h3>
						<p>略:待补充</p>
						<p><a class="btn btn-default" href="#">底部-2</a></p>
					</div>
					<div class="col-sm-3 footer-blurb-item">
						<h3><span class="glyphicon glyphicon-paperclip"></span> 底部-3</h3>
						<p>略:待补充</p>
						<p><a class="btn btn-default" href="#">底部-3</a></p>
					</div>
					<div class="col-sm-3 footer-blurb-item">
						
						<!-- Thumbnails --> 
						<h3><span class="glyphicon glyphicon-camera"></span> Photograph</h3>
							<div class="row">
								<div class="col-xs-6">
									<a href="#" class="thumbnail">
										<img src="holder.js/110x80" alt="">
									</a>
								</div>
								<div class="col-xs-6">
									<a href="#" class="thumbnail">
										<img src="holder.js/110x80" alt="">
									</a>
								</div>
								<div class="col-xs-6">
									<a href="#" class="thumbnail">
										<img src="holder.js/110x80" alt="">
									</a>
								</div>
								<div class="col-xs-6">
									<a href="#" class="thumbnail">
										<img src="holder.js/110x80" alt="">
									</a>
								</div>
							</div>
							
					</div>

				</div>
				<!-- /.row -->	
			</div>
        </div>
        
        <div class="small-print">
        	<div class="container">
        		<p><a href="#">友情链接-1</a> | <a href="#">友情链接-2</a> | <a href="#">友情链接-3</a></p>
        		<p> Created by <a href="http://www.midsummer.me">Summer</a></p>
        	</div>
        </div>
	</footer>

	
    <!-- jQuery -->
    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
	
	<!-- IE10 viewport bug workaround -->
	<script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
	
	<!-- Placeholder Images -->
	<script src="{% static "js/holder.min.js" %}"></script>
	
</body>

</html>
